@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #81ecec;
	font-family: cursive;
}
.container {
	/* display: flex; */
	justify-content: center;
	margin: 0 30%;
	padding: 20px 75px;
	margin-top: 150px;
	background-color: #ffeaa7;
	width: 500px;
	min-height: 300px;
	box-sizing: border-box;
	line-height: 2;
}
h2 {
	font-family: cursive;
}
h5 {
	text-decoration: underline;
}
.text-bar {
	min-width: 300px;
	height: 30px;
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
	padding: 8px;
	outline: none;
	border: 1px;
	border-radius: 10px;
}
.btn-add {
	min-width: 40px;
	height: 30px;
	border: 1px;
	border-radius: 10px;
	background: #74b9ff;
	color: #fff;
	font-family: cursive;
	font-weight: 600;
}
ul {
	list-style-type: square;
}
